<h1><%= @file_item.file_name %></h1>

<p>
  <strong>File Type:</strong>
  <%= @file_item.file_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @file_item.user.email %>
</p>

<% if @file_item.file.attached? %>
  <p>
    <strong>File:</strong>
    <%= link_to 'Download File', rails_blob_path(@file_item.file, disposition: 'attachment') %>
  </p>
<% else %>
  <p>No file attached.</p>
<% end %>
