// Place all the styles related to the Libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_file_btn {
  color: #ffffff;
  margin-bottom: 15px;
  &:visited {
    color: #ffffff;
  }
}

.files-list {
  margin-top: 20px;
  .btn {
    color: #ffffff;
  }
  table {
    margin-top: 20px;
  }
}